/* body */

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* opponent choice */

#opponent-choice {
    width: 240px;
    height: 240px;
    margin-top: 10px;
    
}

#opponent-score{
    color: rgb(218, 17, 17);
}


#your-score{
    color: rgb(218, 17, 17);
}


#opponent-score{
    color: rgb(218, 17, 17);
}

/* your choice */

#your-choice {
    width: 240px;
    height: 240px;
    margin-top: 10px;
}

/* choices */

#choices {
    width: 240px;
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
}

#choices img {
    width: 80px;
    height: 80px;
}